<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>stolenfootball.dev</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        <script type="module" src="../../main.js" defer></script>
        <script>hljs.highlightAll();</script>
        <script>hljs.initHighlightingOnLoad();</script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
        <link rel="stylesheet" href="../../css/dracula.css">
        <link rel="stylesheet" href="../../main.css" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="header-bar" class="container-fluid blog-header">
        <br><br>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="text-center">
                            <h1>Post Title</h1>
                        </div>
                        <p>Two sentence summary</p>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <h2>Background</h2>
                        <p>Quick background on the post</p>
                        <h2>Body</h2>
                        <p>Body of the post</p>
                        <h2>Conclusion</h2>
                        <p>Conclusion of the post</p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </body>
</html>